:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-text-color: #757575;
  --accent-title-color: #212121;
  --primary-white-color: #ffffff;
}

.body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/*==========HEADER============*/

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header .header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-title-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

/*==========HEADER END============*/

/*==========HERO============*/

.hero-title {
  font-weight: 900;
  font-family: var(--main-font);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: var(--primary-white-color) ;*/
}

.advantages-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-title-color);
}

.advantages-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/*==========HERO END============*/

/*==========TEAM============*/
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-title-color);
}

.team-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.footer .footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /*color: var(--primary-white-color) ;*/
}

.contact-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /*color: var(--primary-white-color) ;*/
}

.contact-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
}

/*==========TEAM END============*/

/*==========COMPONENTS============*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-title-color);
}
/*==========COMPONENTS END============*/

/*==========FILTER PROJECT============*/
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  background-color: var(--accent-color);
}

.filter-services {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-title-color);
  cursor: pointer;
}

.filter-services:hover,
.filter-services:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.project-link {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-title-color);
}

.project-item {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/*==========FILTER PROJECT END============*/
